
<% content_for :others do %>
  <div class="container">
        <!--<i class="fa fa-quote-left fa-3x"></i>-->
        <header><strong>Cos'è EasyShop?</strong></header>
        <p>
          Easyshop è il nuovo modo di fare la spesa.<br>
          Offriamo un servizio di vendita online di prodotti di consumo giornaliero.<br>
          Puoi trovare tutti i generi alimentari presenti in un supermercato e molto altro.<br>
          Tra i negozi partner puoi trovare supermercati, tabacchini, bar, negozi di oggettistica. Ogni giorno nuovi
          negozio si uniscono al nostro progetto, dando a te una possibilità di scelta ancora più ampia.<br>
          Per iniziare subito a fare le tua compere senza muoverti da casa, <%= link_to "registrati", new_utenti_registration_path %>
          gratuitamente.<br>
          Scegli i vari prodotti da aggiugere al carrello e vai alla cassa. Offriamo un sevizio di pagamento sicuro e affidabile.<br><br>

          Per qualsiasi dubbio o ulteriore informazioni,
          contattaci:<br> Luca@mail.it <br>
          marin@mail.it
        </p>
      </div>

<% end %>