<% content_for :others do %>
<div class="container">
  <div class="row text-center pad-row" >
    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 ">
      <!--<i class="fa fa-quote-left fa-3x"></i>-->
      <p>
        Fai anche tu la spesa comodamente da casa tua. Nel nostro sito si possono trovare centinaia di prodotti.
        Per iniziare a a usufruire dei nostri servizi, registrati gratuitamente!
        Non appena ti registrerai potrai iniziare a scegliere tra i prodotti.
        Buone compere!
      </p>
    </div>
  </div>
</div>
<% end %>

<% content_for :others2 do %>
<div class="container">
  <div class="row text-center pad-bottom" >
    <div class="col-md-12">
      <%= image_tag("frutta21.jpg") %>
    </div>

  </div>
</div>
</section>
<!--/.CLIENTS END-->
<% end %>
